.buttons {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.email-button, .linkedin-button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
}

.email-button {
  font-size: 18px;
  font-weight: 500;
  background-color: #ffffff;
}

.email-button img{
  width: 16px;
  height: 16px;
  margin-left: 3px;
}

.linkedin-button {
  font-size: 18px;
  font-weight: 500;
  background-color: #5093E2;
  color: #fff;
}
